body {
    color: #ffffff;
    background-color: #000000;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: auto;
}

body * {
    margin: 0;
    padding : 0;
    word-break: break-all;
}

#topics {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 60px;
    margin-bottom: 5px;
    text-align : left;
    font-size : 400%;
    font-weight: bold;
}

#topics h3 {
    padding : 5px;
    font-size : 220%;
    line-height : 1;
    background-color : #ff0000;
    color: black;
}

#topics pre {
    padding-left: 4px;
    font-size: 80%;
    background-color: #202010;
    word-break: break-all;
}

#topics .code {
    padding-left: 4px;
    font-size: 80%;
    background-color: #202010;
}

#topics .list {
    font-size: 70%;
}

#topics .note {
    text-align: right;
    color: #cccccc;
    font-size: small;
}
#topics a {
    color: #ccee00;
}
#topics a:hover {
    color: #eeee00;
}
#topics img {
    float:right;
}

/* ------------------------------------------------------------------------- */

#footer {
    position: absolute;
    width: 99%;
    height: 30px;
    padding-top: 3px;
    padding-bottom: 1px;
    border-top: 1px solid #ffffff;
    background-color: #000000;
}

#footer #page_info {
    position: absolute;
}

B {
    color: red;
    font-size: 150%;
}

pre B {
    color: red;
    font-size: 100%;
}

.center {
    text-align: center;
}
