<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>tokuhirom.github.io</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/2.3.2/spacelab/bootstrap.min.css">
    <style>
        .container {
            margin-top: 40px;
        }
        .subhead {
            padding-bottom: 0;
            margin-bottom: 90px;
        }

        .subhead h1 {
            font-size: 54px;
        }
    </style>
</head>
<body>
    <div class="container">

        <header class="subhead jumbotron" id="overview">
            <div class="row">
                <h1 class="title">tokuhirom.github.io</h1>
            </div>
        </header>

            <div class="row">
                <div class="span4">
                    <h2>My accounts</h2>
                    <ul>
                        <li><a href="http://blog.64p.org/">blog</a></li>
                        <li><a href="http://search.cpan.org/~tokuhirom/">CPAN</a></li>
                        <li><a href="http://twitter.com/tokuhirom">twitter</a></li>
                        <li><a href="http://github.com/tokuhirom">github</a></li>
                        <li><a href="/talks/">My slides</a></li>
                    </ul>
                </div>
                <div class="span4">
                    <h2>Sites</h2>
                    <ul>
                        <li><a href="http://cpanasium.64p.org/">CPANaisum</a></li>
                        <li><a href="http://frepan.64p.org/">FrePAN</a></li>
                        <li><a href="http://nopaste.64p.org/">NoPaste</a></li>
                        <li><a href="http://qrcode.64p.org/">QRCode</a></li>
                        <li><a href="http://gyazo.64p.org/">Gyazo</a></li>
                        <li><a href="http://corelist.64p.org/">corelist</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    <h2>Notes</h2>
                    <ul>
                    [% FOR note IN notes %]
                        <li><a href="[% note.link %]">[% note.title %]</a></li>
                    [% END %]
                    </ul>
                </div>
                <div class="span4">
                    <h2>Talks</h2>
                    <ul>
                    [% FOR talk IN talks -%]
                        <li><a href="[% talk.link %]">[% talk.date.strftime('%Y-%m-%d') %] [% talk.title %]</a></li>
                    [% END %]
                        <li><a href="/talks/index.html">more.</a></li>
                    </ul>
                </div>
            </div>
    </div>
    <style>
        li {
            text-overflow: ellipsis;
            list-style-position:inside;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;    
        }
    </style>
</body>
</html>
