<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>[% title %]</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/2.3.2/spacelab/bootstrap.min.css">
    <style>
        .container {
            margin-top: 40px;
        }
        .subhead {
            padding-bottom: 0;
            margin-bottom: 90px;
        }

        .subhead h1 {
            font-size: 54px;
        }
    </style>
</head>
<body>
    <div class="container">

            <div class="row">
                <div class="span2 sidebar">
                    <h2>Notes</h2>
                    <ul>
                    [% FOR note IN notes -%]
                        <li><a href="[% note.link %]">[% note.title %]</a></li>
                    [% END %]
                    </ul>
                </div>
                <div class="span10">
                    <div class="entry">
                        <div class="entry-body">
                            [% body | raw %]
                        </div>
                        <div class="entry-footer">
                            <a class="timestamp" href="[% link %]">[% mtime.strftime('%Y-%m-%d(%a)') %]</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <footer>
                This is random notes by <a href="http://github.com/tokuhirom">tokuhirom</a>.
            </footer>
            <style>
                .entry-body {
                    min-height: 300px;
                }
                .entry-footer {
                    margin-top: 30px;
                    text-align: right;
                }
                .sidebar h2 {
                    color: #555555;
                }
            </style>
    </div>
</body>
</html>
