body {
    color: #ffffff;
    background-color: #000000;
}

#topics {
    margin : 0;
    padding : 0;
    text-align : left;
    font-size : 60px;
    font-weight: bold;
}

#topics h2 {
    background : red;
    padding : 0;
    font-size : 120%;
    line-height : 1;
    color: black;
}

#topics pre {
    padding-left: 4px;
    font-size: 50%;
}

/* ------------------------------------------------------------------------- */

#footer {
    position: absolute;
    width: 99%;
    height: 30px;
    padding-top: 3px;
    padding-bottom: 1px;
    border-top: 1px solid #ffffff;
}

